@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  font-family: 'sf-medium', sans-serif;
  margin: 0;
  padding: 0;
}

#app{
  /*padding: 32px;*/
  background-color: #f7f8f8;
  color: black;
  font-family: sf-regular, sans-serif;
}


@font-face {
  font-family: 'sf-bold';
  src: url("./fonts/sf-bold.OTF") format("opentype");
}

@font-face {
  font-family: 'sf-medium';
  src: url("./fonts/sf-medium.OTF") format("opentype");
}


@font-face {
  font-family: 'sf-regular';
  src: url("./fonts/sf-regular.OTF") format("opentype");
}

.katex {
  font-family: monospace !important;
}

.katex,
.katex .mathnormal,
.katex .mord,
.katex .mop {
  font-family: 'FiraCode Nerd Font Mono', 'Menlo', 'Courier', monospace !important;
  font-size: 32px !important;
  font-style: normal !important;
}


.katex,
.katex .mathnormal,
.katex .mord,
.katex .mop .smaller{
  font-family: 'FiraCode Nerd Font Mono', 'Menlo', 'Courier', monospace !important;
  font-size: 20px !important;
  font-style: normal !important;
}


